/* background image */
.header {
    background-image: url('../img/dragonball.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header h1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: 4em;
    margin: 30px auto;
}

.questions h3 {
    font-family: 'Pontano Sans', sans-serif;
    margin: 25px auto;
    font-weight: bold;
}

.label {
    display: block;
    text-align: left;
    font-size: 18px;
    padding-left: 30px;
    color: #000;
    cursor: pointer;
    font-family: 'Pontano Sans', sans-serif;
}

ol {
    font-size: 25px;
}

ul {
    list-style-type: none;
}

#submit {
    width: 100%;
    text-align: center;
    padding: 25px 0;
}

/* ALL image CSS below */
#radar {
    position: fixed;
    top: 70%;
    right: -100px;
    height: auto;
    width: 200px;
}

#ball {
    box-shadow: 2px 2px 2px black;
    border-radius: 100%;
}

#goku, #broly, #vegeta, #bulma {
    top: 0;
    position: fixed;
    height: auto;
}

#goku {
    -webkit-animation: floatBubble 15s infinite normal;
    animation: floatBubble 15s infinite normal;
    z-index: 0;
    width: 140px;
}

#broly {
    -webkit-animation: floatBubble 24s infinite normal;
    animation: floatBubble 24s infinite normal;
    z-index: 0;
    width: 100px;
}

#vegeta {
    -webkit-animation: floatBubble 18s infinite normal;
    animation: floatBubble 18s infinite normal;
    z-index: 0;
    width: 50px;
}

#bulma {
    -webkit-animation: floatBubble 20s infinite normal;
    animation: floatBubble 20s infinite normal;
    z-index: 0;
    width: 50px;
}

/* flying cloud */
#float {
    position: fixed;
    width: 100px;
    height: auto;
    top: 40px;
    -webkit-animation: floatBubble 20s infinite normal;
    animation: floatBubble 20s infinite normal;
    z-index: 0;
}

#float2 {
    position: fixed;
    width: 130px;
    height: auto;
    top: 20px;
    -webkit-animation: floatBubble 18s infinite normal;
    animation: floatBubble 18s infinite normal;
    z-index: 0;
}

#float3 {
    position: fixed;
    width: 160px;
    height: auto;
    top: 30px;
    -webkit-animation: floatBubble 24s infinite normal;
    animation: floatBubble 24s infinite normal;
    z-index: 0;
}

@-webkit-keyframes floatBubble {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes floatBubble {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

/* result section */
.result {
    position: fixed;
    display: block;
    width: 400px;
    height: auto;
    padding: 25px;
    color: white;
    border-radius: 50px;

    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
}

.result:hover {
    transform: rotatey(-360deg);
    -webkit-transform: rotatey(-360deg);
    -moz-transform: rotatey(-360deg);
    -ms-transform: rotatey(-360deg);
    -o-transform: rotatey(-360deg);
}

.result-m_vegeta {
    top: 3%;
    left: -400px;
    background-color: #090FBA;
}

.result-m_goku {
    top: 3%;
    right: -400px;
    background-color: #BD0906;
}

.result-m_broly {
    bottom: 3%;
    left: -400px;
    background-color: #D1D10D;
}

.result-f_bulma {
    bottom: 3%;
    right: -400px;
    background-color: #0DD16F;
}

.description h4 {
    text-align: center;
}

.hidden {
    display: none;
}